/*Created with Adobe RoboHelp 2019.*/
body {
	font-family: Calibri;
	background-color: #ffffff;
}
h1 {
	font-weight: bold;
	font-size: 24.0pt;
}
h2 {
	font-weight: bold;
	font-size: 18.0pt;
}
h3 {
	font-weight: bold;
	font-size: 14.0pt;
}
h4 {
	font-weight: bold;
	font-size: 12.0pt;
}
h5 {
	font-weight: bold;
	font-size: 10.0pt;
}
h6 {
	font-weight: bold;
	font-size: 8.0pt;
}
p {
	font-size: 11.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}
a.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
a.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	text-decoration: none;
}
a.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	text-decoration: none;
}
span.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}
ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

a.minitoc-caption {
  text-decoration: none;
	color: initial;
	font-weight: bold;
	font-size: 12pt;
}
p.minitoc-caption {
  font-weight: bold;
	font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {
  
}

p.seealso-caption {
  font-weight: bold;
	font-size: 12pt;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: undefined;
}
a.seealso-list-item {
  
}

p.reltopics-caption {
  font-weight: bold;
	font-size: 11.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: undefined;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {

}
ul.Disc {
	list-style-type: disc;
}
ul.Circle {
	list-style-type: circle;
}
ol.Decimal {
	list-style-type: decimal;
}
ol.RoundSquare {
	list-style: disc;
}
ol.RoundSquare>li>ol {
	list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
	list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
	list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
	list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
	list-style: circle;
}
ol.NestedNumbering {
	list-style: none;
	counter-reset: item1;
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol {
	list-style: none;
	counter-reset: item2;
	--prefix-size: 60.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol>li:before {
	counter-increment: item2 ;
	content: counter(item1, decimal)"."counter(item2, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NestedNumbering>li:before {
	counter-increment: item1 ;
	content: counter(item1, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NestedNumbering>li>ol>li>ol {
	list-style: none;
	counter-reset: item3;
	--prefix-size: 90.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol>li>ol>li:before {
	counter-increment: item3 ;
	content: counter(item1, decimal)"."counter(item2, decimal)"."counter(item3, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NestedNumbering>li>ol>li>ol>li>ol {
	counter-reset: item4;
	list-style: none;
	--prefix-size: 120.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li:before {
	counter-increment: item4 ;
	content: counter(item1, decimal)"."counter(item2, decimal)"."counter(item3, decimal)"."counter(item4, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol {
	counter-reset: item5;
	list-style: none;
	--prefix-size: 150.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item5 ;
	content: counter(item1, decimal)"."counter(item2, decimal)"."counter(item3, decimal)"."counter(item4, decimal)"."counter(item5, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol {
	counter-reset: item6;
	list-style: none;
	--prefix-size: 180.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	padding-left: var(--prefix-size);
	margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
	counter-increment: item6 ;
	content: counter(item1, decimal)"."counter(item2, decimal)"."counter(item3, decimal)"."counter(item4, decimal)"."counter(item5, decimal)"."counter(item6, decimal)".";
	text-align: right;
	position: absolute;
	left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
	margin-right: var(--prefix-gap);
	width: var(--prefix-size);
	overflow: hidden;
}
table.img-table, table.img-table tr, table.img-table td {
	border: none;
	display: block;
}
ol.LowerAlpha {
	list-style-type: lower-alpha;
}
ol.NestedNumbering>li {
	--prefix-size: 30.0px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NestedNumbering>li>ol>li {
	--prefix-size: 60.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NestedNumbering>li>ol>li>ol>li {
	--prefix-size: 90.1px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li {
	--prefix-size: 120.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 150.2px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}
ol.NestedNumbering>li>ol>li>ol>li>ol>li>ol>li>ol>li {
	--prefix-size: 180.3px;
	--prefix-fixed-size: 0;
	--prefix-gap: 4px;
	--list-indent: 40px;
	--vertical-spacing: 0px;
	position: relative;
	margin-top: calc(var(--vertical-spacing) / 2);
	margin-bottom: calc(var(--vertical-spacing) / 2);
}